[user]
    jtriley = Justin Riley
    name = Justin Riley
    email = justin.t.riley@gmail.com
[alias]
    st = status
    sts = status -s
    ci = commit
    br = branch
    co = checkout
    df = diff
    dfc = diff --cached
    unstage = reset HEAD
    undolast = reset --soft HEAD^
    lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --abbrev-commit --date=relative"
[color]
    diff = auto
    branch = auto
    interactive = auto
    status = auto
[core]
    whitespace = fix
[apply]
    whitespace = fix
[push]
    default = current
[github]
    user = jtriley
