[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-supertab"]
	path = vim/bundle/vim-supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/vim-conque"]
	path = vim/bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/extradite"]
	path = vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/bundle/vim-rst-tables"]
	path = vim/bundle/vim-rst-tables
	url = git://github.com/jtriley/vim-rst-tables.git
[submodule "vim/bundle/vim-togglemouse"]
	path = vim/bundle/vim-togglemouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "vim/bundle/vim-rst-headings"]
	path = vim/bundle/vim-rst-headings
	url = git://github.com/jtriley/vim-rst-headings.git
[submodule "vim/bundle/vim-pep8"]
	path = vim/bundle/vim-pep8
	url = git://github.com/nvie/vim-pep8.git
[submodule "vim/bundle/vim-ghwiki-preview"]
	path = vim/bundle/vim-ghwiki-preview
	url = git://github.com/jtriley/vim-ghwiki-preview.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/vim-ipython"]
	path = vim/bundle/vim-ipython
	url = git://github.com/ivanov/vim-ipython.git
